<title>菜单管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>用户</cite></a>
        <a><cite>菜单管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">菜单信息</div>
                <div class="layui-card-body">
                    <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                        菜单名：
                        <div class="layui-inline">
                            <input class="layui-input" name="SearchRightName" id="SearchRightName" autocomplete="off">
                        </div>
                        <button class="layui-btn" id="search">搜索</button>
                    </div>
                    <table class="layui-hide" id="menumanage"></table>

                    <script type="text/html" id="menumanage-toolbar">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm btn btn-info" lay-event="add"><i class="iconfont icon-xinzeng"></i>新增</button>
                                <button class="layui-btn layui-btn-sm btn btn-info" lay-event="update"><i class="iconfont icon-bianji"></i>修改</button>
                                <button class="layui-btn layui-btn-sm btn btn-info" lay-event="delete"><i class="iconfont icon-shanchu"></i>删除</button>
                            </div>
                        </script>

                    <!-- @*<script type="text/html" id="menumanage-barDemo">
                                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                            </script>*@ -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-card-body" id="form" style="padding-top: 20px ;display:none">
        <form class="layui-form" action="" lay-filter="component-form-element">
          <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-lg6">
              <label class="layui-form-label">菜单名</label>
              <div class="layui-input-block">
                <input type="text" name="RightName"  id="RightName" lay-verify="required" placeholder="菜单名" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-lg6">
                <label class="layui-form-label">菜单图标</label>
                <div class="layui-input-block">
                  <input type="text" name="RightIcon" id="RightIcon" lay-verify="required" placeholder="菜单图标" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-col-lg6">
                  <label class="layui-form-label">菜单地址</label>
                  <div class="layui-input-block">
                    <input type="text" name="RightUrl" id="RightUrl" lay-verify="required" placeholder="菜单地址" autocomplete="off" class="layui-input">
                  </div>
                </div>
               
            <div class="layui-col-lg6">
              <label class="layui-form-label">父级菜单:</label>
              <div class="layui-input-block">
                <select name="type" name="ParentId" id="ParentId">
                  
                </select>
              </div>
            </div>

            <div class="layui-col-lg6">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                      <input type="text" name="Description" id="Description" lay-verify="required" placeholder="描述" autocomplete="off" class="layui-input">
                    </div>
                  </div>
          </div>
          <!-- <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-block">
              <input type="radio" name="sex" value="男" title="男">
              <input type="radio" name="sex" value="女" title="女">
            </div>
          </div> -->
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" id="btnSave">保存</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
<div class="inmodal"  style="display: none;">
    <div class="modal-body form-inline" style="width: auto;">
        <div class="table-responsive">
            <div class="form-group">
                <label>菜单名:</label>
                <input id="RightName" name="RightName" type="text" placeholder="请输入菜单名" class="form-control"
                    data-samename="true" data-minlength="2" data-minlength-error="用户名最少2位" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label>菜单图标:</label>
                <input id="RightIcon" name="RightIcon" type="text" placeholder="请输入图标" class="form-control">
            </div>
            <div class="form-group">
                <label>菜单地址:</label>
                <input id="RightUrl" name="RightUrl" type="text" placeholder="请输入地址" class="form-control">
            </div>
            <div class="form-group">
                <div class="layui-card layui-form" lay-filter="component-form-element">
                    <label for=ParentId>父级菜单:</label>
                    <div class="layui-col-md6">
                        <select name="ParentId" lay-verify="" id="ParentId">

                        </select>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label>菜单名描述:</label>
                <input id="Description" name="Description" type="text" placeholder="请输入描述" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" id="btnClose">关 闭</button>
        <button type="button" class="btn btn-primary" id="btnSave">保 存</button>
    </div>
</div>

<script>
    var param = {
        data: null,
        table: null
    };
    var method = {
        init: function () {
            method.initTable();
            method.getParentRight();
            method.eventBind();
        },
        eventBind: function () {
            $("#btnClose").click(function () {
                layer.closeAll();
            });

            $("#btnSave").click(function () {
                //添加
                var json = $.toJson("#form");
                if (!param.data) {
                    var methodType = 'post';
                    method.saveData(json, methodType);
                }
                else {
                    //修改
                    var methodType = 'put';
                    json["Id"] = param.data.Id;
                    method.saveData(json, methodType);
                }
            });

            $("#search").click(function () {
                method.tableReload();
            });
        },

        initTable: function () {
            layui.use(['table'], function () {
                var table = layui.table;
                param.table = table;
                table.render({
                    elem: '#menumanage'
                    , url: uri + '/api/Right/QueryPaged'
                    , toolbar: '#menumanage-toolbar'
                    , title: '用户数据表'
                    , cols: [[
                        { type: 'radio', fixed: 'left' }
                        //, { field: 'Id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true }
                        , { field: 'RightName', title: '菜单名', width: 120, edit: 'text' }
                        , { field: 'ParentId', title: '父级菜单', width: 120, edit: 'text' }
                        , { field: 'RightIcon', title: '菜单图标', width: 120, edit: 'text' }
                        , { field: 'RightUrl', title: '菜单地址', width: 120, edit: 'text' }
                        , { field: 'Description', title: '描述', width: 250, edit: 'text' }
                        //, { field: 'sex', title: '性别', width: 80, edit: 'text', sort: true }
                        //, { field: 'city', title: '城市', width: 100 }
                        //, { field: 'sign', title: '签名' }
                        //, { field: 'experience', title: '积分', width: 80, sort: true }
                        // , { field: 'ip', title: 'IP', width: 120 }
                        // , { field: 'logins', title: '登入次数', width: 100, sort: true }
                        //, { field: 'joinTime', title: '加入时间', width: 120 }
                        //, { fixed: 'right', title: '操作', toolbar: '#menumanage-barDemo', width: 150 }
                    ]]
                    , page: true
                });

                //头工具栏事件
                table.on('toolbar(menumanage)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'add':
                            //var data = checkStatus.data;
                            //layer.alert(JSON.stringify(data));
                            param.data = null;
                            $.clearValue("#form .form-group");
                            method.openDialog();
                            break;
                        case 'update':
                            //$("#Password").parent().hide();
                            //$("#ConfirmPassword").parent().hide();
                            param.data = checkStatus.data[0];
                            if (!param.data) {
                                layer.alert("请选择一行数据进行操作");
                                return;
                            }
                            method.openDialog();
                            method.initEditData();
                            break;
                        case 'delete':
                            layer.alert("请选择一行数据进行操作");
                            break;
                    };
                });

                //监听行工具事件
                table.on('tool(menumanage)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'del') {
                        layer.confirm('真的删除行么', function (index) {
                            obj.del();
                            layer.close(index);
                        });
                    } else if (obj.event === 'edit') {
                        layer.prompt({
                            formType: 2
                            , value: data.email
                        }, function (value, index) {
                            obj.update({
                                email: value
                            });
                            layer.close(index);
                        });
                    }
                });
            });
        },

        tableReload: function () {
            param.table.reload('menumanage', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    RightName: $("#SearchRightName").val()
                }
            });
        },

        openDialog: function () {
            layer.open({
                type: 1,
                title: "权限信息编辑",
                shadeClose: true,
                skin: '',
                area: ['600px', '450px'],//宽--高
                content: $("#form"),
                cancel: function () {
                    layer.closeAll();
                }
            });
        },

        saveData: function (json, methodType) {
            var tipMsg = "添加成功";
            if (methodType == "put") {
                tipMsg = "修改成功";
            }
            $.ajax({
                url: uri+"/api/Right/",
                method: methodType,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(json),
                success: function (res) {
                    if (res.IsError) {
                        layer.alert(res.Message);
                        return;
                    }
                    else {
                        layer.closeAll();
                        layer.msg(tipMsg, { "icon": 1 });
                        method.tableReload();
                    }
                }
            })
        },

        initEditData: function () {
            var editData = param.data;
            if (editData) {
                //对input 标签 和 textarea 标签赋值
                $.toValue(editData, "#form .layui-col-lg6");
            }
        },

        getParentRight: function () {
            $.ajax({
                url: uri+"/api/Right/ParentRight",
                method: 'get',
                //dataType: "json",
                contentType: "application/json",
                //data: JSON.stringify(json),
                success: function (res) {
                    debugger
                    if (res.IsError) {
                        layer.alert(res.Message);
                        return;
                    }
                    else {
                        //layer.closeAll();
                        //layer.msg(tipMsg, { "icon": 1 });
                        $("#ParentId").html("");
                        var selectStr = '<option value="">请选择父级菜单</option>';
                        debugger
                        $.each(res.Data, function (index, item) {
                            selectStr += '<option value="' + item.Id + '">' + item.RightName + '</option>';
                        });
                        $("#ParentId").append(selectStr);
                    }
                }
            })
        }
    };
    $(function () {
        method.init();
    });
</script>